{% load static %}
 <div style="background-image:url({% static 'img/iphones.png'%}); height:450px; background-size:cover; margin-bottom:0 !important;"></div>
</section>
    <!-- Page Footer-->
    <footer class="main-footer" style="background-color:#282e34; margin-top:0;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
            </div>
            <div class="contact-details">
              <p>1055 Bay St, Toronto, ON</p>
              <p>Phone: (647) 822 9109</p>
              <p>Email: <a href="mailto:junhyuk.park@mail.utoronto.ca">junhyuk.park@mail.utoronto.ca</a></p>
            </div>
          </div>
        <div class="col-md-8 text-right">
              <ul class="social-menu">
                <li class="list-inline-item"><a href="https://www.instagram.com/andy_park96/" target="_blank" style="font-size:30px;"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://codepen.io/ap1593/" target="_blank" style="font-size:30px;"><i class="fa fa-codepen"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/pos03142ap" target="_blank" style="font-size:30px;"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/andy-junhyuk-park-401050154/" target="_blank" style="font-size:30px;"><i class="fa fa-linkedin"></i></a></li>
              </ul>
        </div>
        </div>
      </div>
      <div class="copyrights" style="background-color:#282e34">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-left">
              <p>&copy; 2019. All rights reserved. Junhyuk Andy Park.</p>
            </div>
            <div class="col-md-6 text-right">
              <p>Powered By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">PythonAnywhere</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
